@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*variables almacenando los colores*/

 :root {
    --first-color: hsl(354, 78%, 60%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 2%, 45%);
    --card-color: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(206, 4%, 97%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);
}


/*COLORES DARK MODE:-->*/

body.dark-theme {
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*estilado general*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);
}

.aside-container {
    display: flex;
    flex-direction: row-reverse;
}

input#cart-menu {
    visibility: hidden;
}

input#cart-menu~ul {
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 60px);
    top: 60px;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
}

input#cart-menu:checked~ul {
    display: flex;
}

a{
    color: inherit;
    text-decoration: none;
}

/*estilando la barra de navegacion*/

#logo {
    display: flex;
    width: 80px;
    align-items: center;
    margin: 0px 0px -25px 0;
    padding: inherit;
}

.color-logo-academlo{
    filter: invert(43%) sepia(25%) saturate(3265%) hue-rotate(321deg) brightness(92%) contrast(99%);
}

.iconos {
    display: flex;
    margin-left: 40%;
    align-self: center;
    gap: 1rem;
}

.cart-count {
    width: 1rem;
    height: 1rem;
    font-size: 8px;
    background-color: black;
    color: var(--text-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    padding: .25rem;
    bottom: 0;
    right: -5px;
}

.cart-list>.item>img {
    width: 120px;
}


/*---------Vista del carrito-----------*/

.shopping-cart-overlay {
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(122, 122, 122, 0.397);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 50;
}

.shopping-cart-overlay.mostrar {
    display: block;
}

.selected-products-list {
    background-color: var(--container-color);
    width: 100%;
    min-height: 100vh;
    padding: 1.5rem 1rem;
    max-width: 450px;
    position: absolute;
    right: 0;
    top: 0;
}

.empty-state {
    min-height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
    align-items: center;
}

.empty-state>img {
    max-width: 250px;
}

.cart-close {
    margin-left: auto;
    display: block;
    width: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5rem 1.25rem;
    height: 60px;
    color: var(--friendly-gray);
    position: relative;
    z-index: 1;
}

.rectangulo {
    width: 20rem;
    height: 30rem;
    background: var(--first-color);
    position: relative;
    margin: 0px 0 -30rem 34%;
    z-index: 0;
    max-width: fit-content;
    left: 20%;
}

input#menu-hamburguesa {
    visibility: hidden;
}

#menu {
    width: 2rem;
    height: 2rem;
}

input#menu-hamburguesa~ul {
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 60px);
    top: 60px;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
}

input#menu-hamburguesa:checked~ul {
    display: flex;
}

.rectangulo>img {
    width: 105%;
    height: auto;
    margin: 8rem 0 0 0;
}

.info-header {
    padding: 30rem 2rem 0 2rem;
}

.info-header>p {
    font-size: 13px;
    text-align: justify;
    color: var(--text-color);
}

.info-header>h3 {
    padding-top: 1rem;
    color: var(--first-color);
}

.button {
    align-items: center;
    margin: 3rem 5rem 9px 5rem;
    display: inline-flex;
    padding: 0px 0 0 1rem;
    gap: 1rem;
    background-color: var(--button-color-alt);
}

.button>button {
    color: white;
    background-color: var(--button-color);
    font-size: 1rem;
    padding: 1rem;
    margin: -7px;
}


/*estilandola seccion de productos*/

.info-productos {
    margin: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 1rem;
    padding: 3rem;
}

.info-productos>div {
    box-shadow: 6px 0px 9px var(--border-color);
    padding: 0 0 0 23px;
    color: var(--text-color);
}


/*modo en que se muestran los productos*/

.products {
    display: flex;
    flex-direction: row;
}

.card {
    border-radius: 2%;
    background-color: var(--container-color);
    display: grid;
    grid-template-rows: 80% auto;
    width: 18rem;
    height: 25rem;
    margin: 75px;
    box-shadow: 2px 7px 15px grey;
    color: var(--text-color);
}

.card>.imagen {
    background-color: var(--card-color);
}

.buy-button {
    height: 3rem;
    border-radius: 50%;
    width: 3rem;
    position: relative;
    margin: -2rem 20px 0px 13rem;
    font-size: 2rem;
    box-shadow: 2px 5px 4px var(--container-color);
    border: 1px solid white;
}

.card>.imagen>img {
    width: 80%;
    height: auto;
    margin: 39px 0 0 29px;
}

.info-card {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
    margin: -13px 0 0 26px;
}

.info-carrito,
.cart-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.info-carrito{
    border-left: 3px solid var(--first-color);
    padding-left: 3px;
}
.cart-item{
    border-left: 3px solid white;
}

/*estilando footer*/

.footer-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 2rem;
    background-color: var(--card-color);
    padding: 7rem 0 0 2rem;
    padding-bottom: 5rem;
    margin-bottom: 3rem;
    width: auto;
    color: var(--text-color);
}

.footer-container>div>img {
    width: 24px;
    margin: 3%;
    margin-top: 2rem;
}

.cart-item img{
    width: 150px;
}

.btn-pago{
    width: 120px;
    height: 40px;
    display: flex;
    margin-top: 20px;
    border: 1px solid transparent;
}

.btn-pago > button {
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.btn-pointer{
    cursor: pointer;
}

.cart-price{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.bx{
    display: flex;
    justify-content: center;
}



@media screen and (max-width:600px) {
    .footer-container {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
}

@media screen and (min-width: 600px) {
    .products {
        width: 100%;
        margin-bottom: 2rem;
        overflow-x: scroll;
    }
}

@media screen and (max-width:600px) {
    .info-productos {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
}

@media screen and (min-width: 600px) {
    .info-header {
        padding: 8rem 28rem 0 4rem;
    }
    .info-header>p {
        margin-top: 1rem;
    }
}

@media screen and ( min-width:600px) {
    label {
        display: none;
    }
    input#menu-hamburguesa~ul {
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        margin: 0 -2% -38px 10%;
    }
    .iconos {
        position: relative;
        margin-top: 3rem;
        width: 5rem;
        margin-right: 15%;
        height: 2rem;
        margin-left: 1rem;
    }
    .rectangulo {
        margin-left: 50%;
    }
}

@media screen and ( min-width:600px) {
    label {
        display: none;
    }
    input#cart-menu~ul {
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        margin: 0 -2% -38px 10%;
    }
}

