@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/*variables almacenando los colores*/
 :root {
    --1_first-color: hsl(354, 78%, 60%);
    --1_button-color: hsl(0, 0%, 17%);
    --1_button-color-alt: hsl(0, 0%, 21%);
    --1_card-color: hsl(0, 0%, 90%);
    --1_title-color: hsl(0, 0%, 15%);
    --1_text-color: hsl(0, 0%, 35%);
    --1_text-color-light: hsl(0, 0%, 55%);
    --1_body-color: hsl(206, 4%, 97%);
    --1_container-color: #fff;
    --1_border-color: hsl(0, 0%, 94%);
    /*COLORES DARK MODE:-->*/
    --0_first-color: hsl(182, 53%, 74%);
    --0_button-color: hsl(246, 16%, 12%);
    --0_button-color-alt: hsl(0, 0%, 28%);
    --0_card-color: hsla(246, 16%, 5%, .5);
    --0_title-color: hsl(0, 0%, 95%);
    --0_text-color: hsl(0, 0%, 75%);
    --0_body-color: hsl(249, 19%, 14%);
    --0_container-color: hsl(246, 16%, 12%);
    --0_border-color: hsl(0, 0%, 20%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*estilado general*/
body {
    font-family: 'Roboto', sans-serif;
}
/*GENERAL TEXT*/
/*
    .header-container {
        border: 5px dashed red;
    }
    */
.aside-container {
    display: flex;
    flex-direction: row-reverse;
}
/*
    .productos {
        border: 5px dashed blue;
    }
    .footer-container {
        border: 5px dashed green;
    }
    */
/*estilando aside*/
input#cart-menu {
    visibility: hidden;
}
input#cart-menu~ul {
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 60px);
    top: 60px;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
}
input#cart-menu:checked~ul {
    display: flex;
}
@media screen and ( min-width:600px) {
    label {
        display: none;
    }
    input#cart-menu~ul {
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        margin: 0 -2% -38px 10%;
    }
}
/*estilando la barra de navegacion*/
#logo {
    display: flex;
    width: 80px;
    align-items: center;
    margin: 0px 0px -25px 0;
    padding: inherit;
}
.iconos {
    display: flex;
    margin-left: 40%;
    align-self: center;
    gap: 1rem;
}

.cart-count{
    width: 1rem;
    height: 1rem;
    font-size: 8px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    padding: .25rem;
    bottom: 0;
    right: -5px;
}

/*---------Vista del carrito-----------*/
.shopping-cart-overlay{
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(122, 122, 122, 0.397);
    position: fixed;
    left: 0;
    top:0;
    display: none;
    z-index: 50;
}

.shopping-cart-overlay.mostrar{
    display: block;
}

.selected-products-list{
    background-color: hsl(206, 4%, 97%);
    width: 100%;
    min-height: 100vh;
    padding: 1.5rem 1rem;
    max-width: 450px;
    position: absolute;
    right: 0;
    top: 0;
}

.empty-state{
    min-height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
    align-items: center;
}

.empty-state > img{
    max-width: 250px;
}

.cart-close {
    margin-left: auto;
    display: block;
    width: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5rem 1.25rem;
    height: 60px;
    color: var(--friendly-gray);
    position: relative;
    z-index: 1;
}
.rectangulo {
    width: 20rem;
    height: 30rem;
    background: hsl(354, 78%, 60%);
    position: relative;
    margin: 0px 0 -30rem 34%;
    z-index: 0;
    max-width: fit-content;
    left: 20%;
}
input#menu-hamburguesa {
    visibility: hidden;
}
#menu {
    width: 2rem;
    height: 2rem;
}
input#menu-hamburguesa~ul {
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 60px);
    top: 60px;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
}
input#menu-hamburguesa:checked~ul {
    display: flex;
}
@media screen and ( min-width:600px) {
    label {
        display: none;
    }
    input#menu-hamburguesa~ul {
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        margin: 0 -2% -38px 10%;
    }
    .iconos {
        position: relative;
        margin-top: 3rem;
        width: 5rem;
        margin-right: 15%;
        height: 2rem;
        margin-left: 1rem;
    }
    .rectangulo {
        margin-left: 50%;
    }
}
.rectangulo>img {
    width: 105%;
    height: auto;
    margin: 8rem 0 0 0;
}
.info-header {
    padding: 30rem 2rem 0 2rem;
}
.info-header>p {
    font-size: 13px;
    text-align: justify;
}
.info-header>h3 {
    padding-top: 1rem;
    color: hsl(354, 78%, 60%);
}
.button {
    align-items: center;
    margin: 3rem 5rem 9px 5rem;
    display: inline-flex;
    padding: 0px 0 0 1rem;
    gap: 1rem;
    background-color: hsl(0, 0%, 55%);
}
.button>button {
    color: white;
    background-color: var(--1_button-color);
    font-size: 1rem;
    padding: 1rem;
    margin: -7px;
}
@media screen and (min-width: 600px) {
    .info-header {
        padding: 8rem 28rem 0 4rem;
    }
    .info-header>p {
        margin-top: 1rem;
    }
}
/*estilandola seccion de productos*/
.info-productos {
    margin: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 1rem;
    padding: 3rem;
}
.info-productos>div {
    box-shadow: 6px 0px 9px var(--1_border-color);
    padding: 0 0 0 23px;
}
@media screen and (max-width:600px) {
    .info-productos {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
}
/*modo en que se muestran los productos*/
.products {

    display: flex;
    flex-direction: row;
    /*display: grid;
    grid-template-columns: auto;
    gap: 3rem;
    margin-bottom: 5rem;*/
}
.card {
    border-radius: 2%;
    background-color: white;
    display: grid;
    grid-template-rows: 80% auto;
    width: 18rem;
    height: 25rem;
    margin: 75px;
    box-shadow: 2px 7px 15px grey;
}
.card>.imagen {
    background-color: var(--1_card-color);
}
.card> {
    background-color: hsl(206, 4%, 97%);
}
.buy-button {
    height: 3rem;
    border-radius: 50%;
    width: 3rem;
    position: relative;
    margin: -2rem 0px 0px 13rem;
    font-size: 2rem;
    box-shadow: 6px 5px 8px grey;
    border: 1px solid white;
}
.card>.imagen>img {
    width: 80%;
    height: auto;
    margin: 39px 0 0 29px;
}
.info-card {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
    margin: -13px 0 0 26px;
}
@media screen and (min-width: 600px) {
    .products {
        width: 100%;
        margin-bottom: 2rem;
        overflow-x: scroll;
        /*grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        overflow-x: scroll;*/
    }
}
/*estilando footer*/
.footer-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 2rem;
    background-color: var(--1_card-color);
    padding: 7rem 0 0 2rem;
    padding-bottom: 5rem;
    margin-bottom: 3rem;
    width: auto;
}
.footer-container>div>img {
    width: 24px;
    margin: 3%;
    margin-top: 2rem;
}

@media screen and (max-width:600px) {
    .footer-container {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
}